$grid_column_count: 12;
$grid_max_width: 1600px;
$grid_column_gutter: 60px;
$grid_breakpoints: (small: 0,
medium: 48rem,
large: 64rem,
xlarge: 90rem,
xxlarge: 105rem);

@mixin breakpoint($breakpoint) {
    @if map-has-key($grid_breakpoints, $breakpoint) {
        @media (min-width: #{map-get($grid_breakpoints, $breakpoint) + (1rem/16)}) {
            @content;
        }
    }

    @else if ($breakpoint==0) {
        @content;
    }

    @else {
        @media (min-width: #{$breakpoint}) {
            @content;
        }
    }
}

.container {
    width: 100%;
    max-width: $grid_max_width;
    margin: 0 auto;
    padding: 0 $grid_column_gutter / 2;
    
    @include breakpoint(medium) {
        padding: 0 $grid_column_gutter;
    }

    @include breakpoint(large) {
        max-width: 1200px;
    }
    
    @include breakpoint(xxlarge) {
        max-width: $grid_max_width;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -$grid_column_gutter / 2;
    margin-right: -$grid_column_gutter / 2;
}

.columns {
    max-width: 100%;
    flex-basis: 100%;
    flex-grow: 0;
    padding-right: $grid_column_gutter / 2;
    padding-left: $grid_column_gutter / 2;
}

@each $name, $breakpoint in $grid_breakpoints {
    @include breakpoint($breakpoint) {
        @for $i from 1 through $grid_column_count {
            .columns.#{$name}-#{$i} {
                flex-basis: 100% / ($grid_column_count / $i);
                flex-shrink: 0;
                flex-grow: 0;
            }
        }
    }
}