html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
}

body {
    //
}

.icon {
    display: inline-block;
}

.hidden {
    display: none !important;
}