body {
    font-family: $font_main;
}

h1,
h2,
h3,
h4,
h5,
h6,
[class*="heading-"] {
    font-family: $font_heading;
    margin: 0;
}

p,
li {
    margin: 0;
}

p {
    margin: 20px 0;
}

a {
    text-decoration: none;
    color: black;
}